//
// BASE STYLES
//


// -------------------------------------------------------------
// # General
// -------------------------------------------------------------

// Include border and padding in width
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: $line-height;
    color: $white;
    font-family: $sans;
    font-size: $font-size--small;
    font-weight: 300;

    @include bp(md) {
        font-size: $font-size;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: $margin 0;
    padding: 0;
    list-style-position: inside;
}

.sport:before,
.economy:before,
.work:before { font-family: "Ionicons"; }

.sport:before   { content: "\f437"; }
.economy:before { content: "\f119"; }
.work:before    { content: "\f3ee"; }
