//
// SITE
//


// -------------------------------------------------------------
// # Site layout
// -------------------------------------------------------------

// Use a site wrapper?
// In that case remove width declarations on .row

// .site {
//     width: $site-width;
//     max-width: $site-max-width;
//     @extend .center;
// }

.wrap {
    @extend .center;
    width: $site-width;
    max-width: $site-max-width;
}

.row {
    @include clearfix;
    margin-right: -$gutter;
    margin-left: -$gutter;
}

.box {
    border: 1px solid $grey;
    background: $milk;
    padding: $gutter;
    height: 200px;
}

.todo-list {
    background-color: #353D8B;
    padding: 40px;
    margin-top: 50px;
}

input[type="text"] {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid rgba($white, .3);
}

input::-webkit-input-placeholder {
   color: gba($white, .5);
}

select {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid rgba($white, .3);
}

li {
    list-style: none;
}

li::before {
    padding-right: 5px;
}
.complete-task {
    color: $white;
    font-size: 15px;

}
.remove-task {
    color: $white;
    font-size: 15px;
    padding-left: 3px;
}
